* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

body {
    background-image: url(/img/Elegant-Pattern-PNG-Transparent-Image.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    /*max-width: 1000px;*/
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/**CONTENEDOR IZQUIERDA**/

.container .left {
    position: relative;
    background-color: #1D3557;
    color: #A8DADC;
    padding: 30px;
}

/*FOTO Y NOMBRE*/

.foto {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    filter: drop-shadow(10px 10px 0 #000);
}

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #A8DADC;
}

.perfil h1 {
    color: #E63946;
    margin-top: 30px;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
}

.perfil h2 {
    margin-top: 15px;
    font-size: 1.5rem;
    text-align: center;
}

/*INFORMACION DE CONTACTO*/

.contact {
    color: #F1FAEE;
    padding-top: 40px;
}

.title {
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.icon .text {
    padding-bottom: 10px;
}

.contact ul {
    position: relative;
}

.contact ul li {
    position: relative;
    list-style: none;
    margin-bottom: 10px;
}

.contact ul li .icon {
    color: #E63946;
    display: inline-block;
}

.contact ul li .text {
    font-size: 1.1rem;
}

/**CONTENEDOR DERECHA**/

.container .right {
    position: relative;
    padding: 40px;
}

.about {
    margin-bottom: 30px;
}

.title2 {
    color: #E63946;
    font-size: 1.6rem;
    padding-bottom: 20px;
}

h4 {
    font-size: 1.15rem;
    text-align: justify;
    padding-bottom: 15px;
}

.about p {
    font-size: 1.1rem;
    text-align: justify;
    padding: 10px 0 10px 0;
}

/*EXPERIENCIA*/

.box {
    margin-bottom: 10px;
}

.experiencia h4, h5 {
    color: #1D3557;
    padding-bottom: 0;
}

h5 {
    font-size: 0.95rem;
}

/*HABILIDADES*/

.habilidades ul .bar {
    height: 1rem;
    position: relative;
    list-style: none;
    margin: 2rem 0;
    border-radius: 10px;
}

.lenguaje {
    position: absolute;
    bottom: 1rem;
    left: 0;
    font-weight: 600;
    color: #1D3557;
}

.porcentaje {
    position: absolute;
    bottom: 1rem;
    right: 0;
    font-weight: 600;
}

ul .html {
    width: 90%;
    background-color: orangered;
}

ul .css {
    width: 80%;
    background-color: blue;
}

ul .bootstrap {
    width: 70%;
    background-color: blueviolet;
}

ul .js {
    width: 60%;
    background-color: yellow;
}

ul .git {
    width: 80%;
    background-color: orangered;
}

/**MEDIA QUERYS**/

@media screen and (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
